

<nav>
    <ul>
        <% if user_signed_in? %>
        <li> <%= button_to "Sign Out", destroy_user_session_path, method: "delete", class: 'nav-text' %> </li>
        <li><%= link_to "Board Shop", "/boards", class: 'nav-text' %> </li>
        <li><%= link_to "New Listing", "/boards/new", class: 'nav-text' %> </li>
        <% else %>
        <li><%= link_to "Sign In", new_user_session_path, class: 'nav-text' %> </li>
        <li><%= link_to "Board Shop", "/boards", class: 'nav-text' %> </li>
        <li><%= link_to "New Listing", "/boards/new", class: 'nav-text' %> </li>
   </ul>
<%end%>
</nav>


