<div class="card-columns">
    <div class="card">
        <%= image_tag(@board.picture) %>
        <div class="card-block">
            <h3> <%= @board.title %> </h3>
            <h3>Condtion: <%= @board.condition %> </h3>
            <h3>Description: <%= @board.description %> </h3>
            <h3>Price: <%= @board.price %> </h3>
            <% if current_user%>
            <button data-stripe="payment">Buy<%= @board.price%> </button>
            <%else%>
            <h4> Sign in to purchase </h4>
            <%end%>
            <%= link_to 'Back', board_path %>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
                const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
                stripe.redirectToCheckout({
                    sessionId: "<%= @session_id %>"
                    });
                });
            </script>
            <% if user_signed_in? && current_user.id == @board.user.id %>
            <%= link_to "Edit", edit_board_path(@board) %>
            <%= link_to "Delete", board_path(@board), method: :delete %>
            <% end %>
        </div>
    </div>
</div>
